/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #B7EDFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3D9A8B;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}
